{% extends 'admin/base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
<div class="content-container">
    <div class="container-fluid">
            {{ wo_render_breadcrumbs({separator: '>>'}) }}
        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tableau des commandes</h4>
                        <table class="table table-hover mt-4">
                            <thead class="">
                                <tr>
                                    <th scope="col" >Date de commande</th>
                                    <th scope="col" >Numéro de commande</th>
                                    <th scope="col">Nom du client</th>
                                    <th scope="col">Produit</th>
                                    <th scope="col" >Montant total</th>
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in pagination.data %}
                                    <tr>
                                        <td >{{ order.orderDate | date("d/m/Y") }}</td>
                                        <td >{{ order.invoiceNumber}}</td>
                                        <td>{{ order.users.firstname  }} {{ order.users.lastName  }}</td>
                                        <td>{{ order.products.productName }}</td>
                                        <td>{{ order.OrderTotalAmount|number_format(0,'','  ') }} FCFA</td>
                                        <td class="text-center">
                                            <a href="{{ path('admin_order_show', {'id': order.id }) }}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                            <a href="{{ path('admin_order_delete', {'id' : order.id }) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ pagination.display() }}         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
