{% extends 'admin/base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
<div class="content-container">
    <div class="container-fluid">
            {{ wo_render_breadcrumbs({separator: '>>'}) }}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center uppercase">Administration des Commandes</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card mt-2">
                    <div class="card-header">Statistiques des commandes </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <p><b>4</b> Commandes / jour</p> 
                            </div>
                            <div class="col-4">
                                <p><b>4</b> Commandes / semaines</p> 
                            </div>
                            <div class="col-4">
                                <p><b>4</b> Commandes / mois</p> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p>Montant / jour <br>
                                    <b>154 000 FCFA</b>
                                </p> 
                            </div>
                            <div class="col-4">
                                <p>Montant / semaines <br>
                                    <b>154 000 FCFA</b>
                                </p> 
                            </div>
                            <div class="col-4">
                                <p>Montant / mois <br>
                                    <b>154 000 FCFA</b>
                                </p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">Derniere commande passée</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="https://images.unsplash.com/photo-1607423730403-b7fc1eb83ce0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="" width="100%"> <br>
                                <b>Casio édifice 126 GT</b>
                            </div>
                            <div class="col-md-9">
                                <p> <b>Numéro de commande </b>  : <a href="">484gdfs8787qDS</a>  </p>
                                <p> <b>Client </b>  : <a href="">Louis Roger Guirika</a>  </p>
                                <p> <b>Montant de la commande </b> : 15 205 FCFA</p>
                                <p><b> Statut de la commande </b> : en cours de livraison</p>
                            </div>   
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-right">Commande passée le 26/03/2020</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tableau des commandes</h4>
                        <table class="table table-hover mt-4">
                            <thead class="">
                                <tr>
                                    <th scope="col" >Date de commande</th>
                                    <th scope="col" >Numéro de commande</th>
                                    <th scope="col">Nom du client</th>
                                    <th scope="col">Produit</th>
                                    <th scope="col" >Montant total</th>
                                    <th scope="col" class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in pagination.data %}
                                    <tr>
                                        <td >{{ order.orderDate | date("d/m/Y") }}</td>
                                        <td >{{ order.invoiceNumber}}</td>
                                        <td>{{ order.users.firstname  }} {{ order.users.lastName  }}</td>
                                        <td>{{ order.products.productName }}</td>
                                        <td>{{ order.OrderTotalAmount|number_format(0,'','  ') }} FCFA</td>
                                        <td class="text-center">
                                            <a href="{{ path('admin_order_show', {'id': order.id }) }}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                            <a href="{{ path('admin_order_delete', {'id' : order.id }) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ pagination.display() }}         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
