{% extends "base.html.twig" %}
{% block title %}Confirmation{% endblock %}

{% block body %}
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/ultime.css">
{% include "partials/header.html.twig" %}
{% include "partials/loader.html.twig" %}
    <div class="container">
      <div class="card">
        {% include "partials/menu.html.twig" %}
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="conf">
            Confirmation <br />
            <small style="font-family: Gilroy-regular; font-size: 15px;color: #707070;">Informations de livraison</small>
          </p>
          <div class="confirmation_card">
            <div class="row">
              <div class="col-md-6 mt-2">
                <div class="confirm_left">
                  <ul>
                    <li>Nom ---------------------</li>
                    <li>Ville ----------------------</li>
                    <li>Quartier ------------------</li>
                    <li>Adresse 1 -----------------</li>
                    <li>Adresse 2 -----------------</li>
                    <li>Numéro de telephone ------</li>
                  </ul>
                  <hr />
                  <ul>
                    <li>Compagnie ---------------</li>
                    <li>Date de livraison ----------</li>
                    <li>Cout de la livraison --------</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 mt-2">
                <div class="confirm_right" style="padding-left: 0">
                  <ul>
                    <li>{{ user.firstName }} {{ user.lastName }}</li>
                    <li>{{ city }}</li>
                    <li>{{ district }}</li>
                    <li>{{ adresse1 }}</li>
                    <li>{{ adresse2|raw|slice(0,20)}}..</li>
                    <li>{{ user.userPhone }}</li>
                  </ul>
                  <hr />
                  <ul>
                    <li>Envoy</li>
                    <li>26/03/2021</li>
                    <li>1500 FCFA</li>
                  </ul>
                </div>
              </div>
              <div class="col onPhone">
                <ul>
                  <li>Nom --------- <b>{{ user.firstName }} {{ user.lastName }}</b></li>
                  <li>Ville --------- <b>{{ city }}</b></li>
                  <li>Quartier -------- <b>{{ district }} </b></li>
                  <li>Adresse 1 -------- <b>{{ adresse1 }} </b></li>
                  <li>Adresse 2 --------- <b>{{ adresse2|raw|slice(0,20)}}..</b></li>
                  <li>Téléphone --------- <b>{{ user.userPhone }}</b></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 offset-md-2">
        {% include "partials/summary.html.twig" %}
          <p class="float-left"><button id="next"><a href="{{ path('order_confirmed') }}" style="text-decoration: none; color: #fff"> Commander</a></button></p>
        </div>
      </div>
      <div class="purchase">
        <hr />
        <p class="float-left">
          <a href="{{path('payment_index')}}"><i class="fas fa-arrow-left"></i></a> &nbsp; Retour au paiement
        </p>
      </div>
    </div>
{% endblock %}
{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="js/loader.js"></script>
{% endblock %}