{% extends 'admin/base.html.twig' %}

{% block title %}Création de produits{% endblock %}

{% block body %}
    <div class="content-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                        {{ wo_render_breadcrumbs({separator: '>>'}) }}
                    <div class="card">
                        <div class="card-body">
                            <h4>
                                <a href="{{ path('admin_products_index') }}" class="btn btn-primary" style="border-radius:50%">
                                    <i class="fas fa-arrow-left fa-2x"></i> 
                                </a> 
                                Section de création 
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mt-3">
                            <div class="card-body">
                                <h4 class="card-title"> Informations générales </h4>
                                    <small><i>Les informations de base sur le produit ainsi que deux petites descriptions pour présenter le produit</i> </small>
                                <hr>
                                {{ form_row(form.productName) }}
                                {{ form_row(form.brand) }}
                                <hr>
                                    <small><i>Les différents stock du produit , le stock de départ et le stock actuel,Par defaut repetez les memes valeurs </i> </small>
                                <hr>
                                {{ form_row(form.initialStock) }}
                                {{ form_row(form.currentStock) }}
                                <hr>
                                    <small><i>Les différents prix affichés dans le menu, l'ancien prix est le prix sans la promotion</i>  </small>
                                <hr>
                                {{ form_row(form.unitPrice) }}
                                {{form_row(form.oldUnitPrice)}}
                                <hr>
                                    <small><i>Les catégories disponibles sont celles créées dans l'onglet catégorie</i>  </small>
                                <hr>
                                {{ form_row(form.category) }}
                                <hr>
                                    <small><i>Les deux descriptions du produit</i> </small>                               
                                <hr>
                                {{ form_row(form.productDescription1,{'attr': {'rows': '4'} }) }}
                                {{ form_row(form.productDescription2 ,{'attr': {'rows': '4'} })}}
                            </div>
                        </div>
                    </div>
                </div>
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mt-3">
                            <div class="card-body">
                                <h4 class="card-title"> Details du produit </h4>
                                <small>
                                    <i>Sections des caractéristiques du produit, ces éléments bien qu'essentiels sont facultatifs. 
                                    Ici il s'agira d'énoncer une caractérisque puis la décrire</i>
                                </small>
                                <hr>
                                <div class="row">
                                    <div class="col-4">
                                        {{ form_row(form.spec1Title) }}
                                        {{ form_row(form.spec1,{'attr': {'rows': '4'} }) }}
                                    </div>
                                    <div class="col-4">
                                        {{ form_row(form.spec2Title) }}
                                        {{ form_row(form.spec2,{'attr': {'rows': '4'} }) }}
                                    </div>
                                    <div class="col-4">
                                        {{ form_row(form.spec3Title) }}
                                        {{ form_row(form.spec3,{'attr': {'rows': '4'} }) }}
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card mt-3">
                            <div class="card-body">
                                <h4 class="card-title">Images du produit (par Url)</h4>
                                    <small><i>Les images peuvent etre insérées avec des liens </i></small>
                                <br>
                                    <small><i><b> Le format .png , des carrés de préferences (700px x 700px) </b></i></small>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        {{ form_row(form.leftPic1URL) }}
                                        
                                    </div>
                                    <div class="col-6">
                                        {{ form_row(form.leftPic2URL) }}
                                    </div>
                                    <div class="col-12">
                                        {{ form_row(form.leftPic3URL) }}
                                    </div>
                                </div>
                                <hr>
                                <small><i>Les images de droite (le carousel)</i></small>
                                <br>
                                <small><i><b>le format .jpeg ou .png , des rectangles de format (235px x 170px) ou (940px x 680px) pour les grandes images</b></i></small>
                                <hr>                                    
                                    {{ form_row(form.rightPic1Url) }}
                                    {{ form_row(form.rightPic2Url) }}
                                    {{ form_row(form.rightPic3Url) }}
                                    {{ form_row(form.rightPic4Url) }}
                                    {{ form_row(form.rightPic5Url) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mt-3">
                            <div class="card-body">
                                <h4 class="card-title">Images du produit (par Upload)</h4>
                                    <small><i>Les images peuvent aussi etre uploadées</i> </small>
                                <br>
                                    <small><i><b> Le format .png , des carrés de préferences (700px x 700px) </b></i></small>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        {{ form_row(form.leftPic1File) }}
                                    </div>
                                    <div class="col-6">
                                        {{ form_row(form.leftPic2File) }}
                                    </div>
                                    <div class="col-12">
                                        {{ form_row(form.leftPic3File) }}
                                    </div>
                                </div>
                                <hr>
                                    <small><i>Les images de droite (le carousel)</i></small>
                                <br>
                                    <small><i><b>le format .jpeg ou .png , des rectangles de format (235px x 170px) ou (940px x 680px) pour les grandes images</b></i></small>
                                <hr>
                                    {{ form_row(form.rightPic1File) }}
                                    {{ form_row(form.rightPic2File) }}
                                    {{ form_row(form.rightPic3File) }}
                                    {{ form_row(form.rightPic4File) }}
                                    {{ form_row(form.rightPic5File) }}
                            </div>
                        </div>
                    </div>
                </div>
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mt-3">
                            <div class="card-body">
                                <h4 class="card-title">Disponibilité et date et validation</h4>
                                <small><i>La date de fin d'affichage du produit. A la création du produit, cette date marque le début d'affichage du nouveau produit,
                                 La date à choisir n'est pas encore arrivée</i></small>
                                 <hr>
                                 <small><i>Par defaut , la disponibilité est désactivée</i></small>
                                 <hr>
                                {{ form_row(form.productAvailable,{'attr':{'disabled':true}}) }}
                                <hr>
                                {{ form_row(form.endDate) }}
                                <button type="submit" class="btn btn-lg btn-outline-info w-100" formnovalidate>Créer le produit</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{form_end(form)}} 
        </div>
    </div>
{% endblock %}